<ion-content style="background-color: #2b7b98">
  <div class="top">
    <div>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </div>
  </div>
  <div class="content">
    <div class="head">
      <h1><b>Coming Soon</b></h1>
      <!--      <h1 class="balance">sfdsf</h1>-->
      <p class="ion-text-center">This Page Still Under Development</p>
    </div>
    <div class="tran">
      <ion-img src="assets/images/ui-ux-design.gif"></ion-img>
    </div>
  </div>
</ion-content>
