ion-content{

  .top{
    height: 160PX;
    background-image: linear-gradient(to right, #1768f9, #1acdd3);
    //border-bottom-left-radius:40%;
    //border-bottom-right-radius:100%;

    ion-back-button{
      color: white;
      margin: 6px;
    }
  }

  .content{
    margin-top: -120px;

    .head{
      //border: 2px solid red; // kotak tepi cheak line
      margin: 0px 20px 0px 20px;

      h1{
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #ffffff;
      }

      p{
        color: #ffffff;
      }

      .balance{
        padding: 10px 0 0 0;
        font-size: 40px;
        text-align: left;
      }
    }

    .tran{
      margin: 20px;
      padding-top: 60px;
    }
  }
}
